dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-google-oauth
python-dotenv
dash-table
openpyxl
pandas
pandera
pymongo
pymongo[srv]
pytest
requests
Sphinx
waitress
gunicorn
pyparsing
spotipy